# 특정 파일 포함
springboot-developer/src/main/resources/application.yml
/Users/yanghwayeong/Desktop/Spring_ToyProject1/.idea
/Users/yanghwayeong/Desktop/Spring_ToyProject1/springboot-developer/.idea
# 빌드 관련 파일 제외
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# IntelliJ IDEA 관련 파일 제외
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

# Eclipse 관련 파일 제외
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

# NetBeans 관련 파일 제외
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code 관련 파일 제외
.vscode/

# Mac OS 관련 파일 제외
.DS_Store
